@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
}

@layer utilities {
  .hero-bg-color {
    @apply bg-gradient-to-r from-gray-300/80 to-gray-100 dark:from-gray-900 dark:to-gray-800 dark:text-white;
  }

  .form-input {
    @apply w-full rounded-full border border-gray-300 dark:border-gray-500 dark:bg-gray-800 px-2 py-1 mb-4;
  }
}
body{
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
}
.bg-transition {
  background: linear-gradient(to right, #111827 50%, #f42c37 50%);
  background-size: 200% 100%;
  background-color: #111827 !important;
  transition: background-position 0.4s ease-out;
}

.bg-transition:hover {
  background-position: -100% 0;
  color: white;
}

/* Hamburger Menu */
.McButton {
  --bar-w: 44px;
  --bar-h: 3px;
  --bar-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(-var(--bar-w) / 2);
  margin-top: calc(-var(--bar-w) / 2);
  width: var(--bar-w);
  height: calc((var(--bar-w) * 3) / 4);
  cursor: pointer;
}

.McButton b {
  position: absolute;
  left: 0;
  width: var(--bar-w);
  height: var(--bar-h);
  background-color: var(--bar-color);
}

.McButton b:nth-child(1) {
  top: 0;
}

.McButton b:nth-child(2) {
  top: 50%;
}

.McButton b:nth-child(3) {
  top: 100%;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: red;
}
.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}